$light-blue: #eaf2f8;
$light-red: #ff5252;

.content {
  position: relative;
  min-height: 93vh;
}

.page-container {
  padding: 1% 0 2% 0;

  .top-bar {
    display: flex;
    justify-content: space-between;
  }

  .product-wrapper{
    padding: 0 0.5% 0 0.5%;

    .grid {
      padding-top: 0.5%;
    }

  }

}

.card {
  width: 100%;

  .card-header {
    background-color: $light-blue;
    display: flex;
    justify-content: space-between;
    padding: 2%;

    .delete-checkbox{
      accent-color: $light-red;
      transform: scale(1.2);
    }
  }

  .card-body {
    text-align: center;
    margin: 2.5% 0 5% 0;
  }

  .card-text {
    margin: 0;
  }

}

.footer {
  position: absolute;
  bottom: 0;
  height: 1rem;
  text-align: center;
}