.content {
  position: relative;
  min-height: 95vh;
}
.page-container{
  padding-top: 1%;
  padding-bottom: 2%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.product-content{
  padding: 0.5%;
}

.card {
  width: 100%;

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
  }

  .card-body {
    text-align: center;
    padding: 10%
  }
  .card-text{
    margin: 0.5%;
  }

}

.footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  text-align: center;
}